@charset "utg-8";
/* 인코딩시 한국어가 깨지지 않도록 한다. */

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400')
/* 구글폰트 */

*{  
    margin:0;
    padding:0;
}
/* 하나의 document에 하나의 doctype. */
/* 그리고 doctype에는 margin과 padding이 기본적으로 세팅되어 있다. */
/* 기본 세팅된 걸 지우기 위해서, 전체를 리셋 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin:0;
    padding:0;
}
/* 모든 요소의 marign과 padding을 없애줘야 함. */
/* 이제부터는 내가 꾸민대로 할 거니까 초기화 해준다. */

a{
    color:ingerit;
    text-decoration: none;
}

/* a태그의 보라색글씨 없애주기 */
/* a태그의 기능은 있으나, css만 없는 상태 */